* {
    padding: 0;
    margin: 0;
}


header {
    background-color: #29323c;
}

nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 50px 0 30px;
}

.logo img {
    width: 7vw;
}

ul {
    height: 8vh;
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin: 0 20px;
    font-size: large;
    color: gray;
    padding: 10px;
}

nav ul li:hover {
    background-color: black;
    cursor: pointer;
    /* border: 1px solid black;
    border-radius: 6px; */
}

.search {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.search input {
    width: 30vw;
    height: 4vh;
    padding-left: 10px;
}

.btn {
    margin-left: 10px;
    padding: 3px;
    width: 60px;
}

.btn:hover {
    border: 3px solid black;
}

.work {
    border: 2px solid black;
    color: rgb(223, 144, 144);
    margin-left: 50px;
    padding: 8px;
}

.work:hover {
    cursor: pointer;
    background-color: black;
}

.login {
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: rgb(116, 133, 133);
    font-size: 18px;
}

.login p:hover {
    cursor: pointer;
    background-color: black;
    border: 3px solid rgb(116, 133, 133);
    padding: 7px;
}

.category {
    display: flex;
    height: 6vh;
    align-items: center;
}

.category p {

    margin: 60px;
    width: 90px;
    padding: 7px;
    text-align: center;
    position: relative;
}

.category p:hover {
    cursor: pointer;
    font-weight: 1000;
    top: -1px;
}

.highlight {
    display: flex;
    margin-top: 20px;
}

.slider {
    width: 50vw;
    border: 1px solid black;
}

.slider img {
    width: 50vw;
}

.sale {
    background-color: #61758b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    border: 1px solid black;
}

.sale div {
    font-size: 150px;
    padding: 0 100px 0 100px;
    border: 3px solid black;
    position: relative;
    animation-name: zoom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.sale div p {
    text-align: center;
}

@keyframes zoom {
    from {
        background: #435060;
    }

    to {
        background-color: #61758b;
    }

}

.sale div:hover {
    cursor: pointer;
    border: 5px solid black;
    top: -10px;
}

.mostSelling {
    margin-top: 30px;
}

.mostSellingText p {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product img {
    box-sizing: border-box;
    width: 15vw;
    margin: 40px;
    border: 1px solid black;
    padding: 20px;
    position: relative;
}

.product img:hover {
    cursor: pointer;
    top: -10px;
}

.discount{
    background:#b2cfed;
    overflow: hidden;
}

.discount p{
    font-size: 60px;
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes slide {
    from {
        transform: translate(0vw);
    }

    to {
        transform: translate(47vw);
    }

}

footer{
    display: flex;
    height: 25vh;
    align-items:center;
    justify-content: center;
    background-color: #29323c;
    padding-top: 100px;
    padding-left: 20px;
}

footer div{
    box-sizing: border-box;
    padding-right: 100px;
    font-size: 15px;
    text-align: left;
    height: 200px;
    /* border: 1px solid #757f8a; */
    color:whitesmoke
}

footer div p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.bn{
    width: 70px;
}

